@media only screen and (min-width: 768px) and (max-width: 1023px){
    .movie-card-detail-text{
        text-align: justify;
        width: 60%;
        padding:20px;
        border: #ffffffc5 1px solid;
        background-color: #00000060;
        border-radius: 5px;
      }
}
