.movieview {
  
}

.movie-view-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    margin:5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}
.movie-view-card img{
    width: 200px;
    
}
