@media only screen and (min-width: 768px) and (max-width: 1023px){
    body{
        background-color: red;
    }

    .movie-view-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        margin:5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px #ccc;
    }
    .movie-view-card img{
        width: 100px;
        
    }
    
}