.paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.activo{
  color:red;
}
.paginacion button i{
    font-size: 1rem;
    color:white;
    padding:0;
}
.paginacion button{
  padding:11px;
  font-size: 1.2rem;
}