#root {

  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  
}

body{
  width: 100%;

}

.read-the-docs {
  color: #888;
}
