#root {

  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

body{
  width: 100%;
}

.read-the-docs {
  color: #888;
}
.movies-section{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}